<div class="footer">
    <div class="footer-content ">
        <div class="container-fluid">
            <div class="row">
            <div class="col col-md-2 footer-links">
                <h5>Company</h5>
                <a href="">Home</a>
                <a href="">About us</a>
                <a href="">Careers</a>
                <a href="">Contact us</a>
            </div>
            <div class="col-12 col-md-2 footer-links">
                <h5>Business Solutions</h5>
                <a href="">Enterprise Resource Planning</a>
                <a href="">Customer Relationship Management</a>
                <a href="">Application Services</a>
                <a href="">Testing Services</a>
                <a href="">E- Commerce</a>
                <a href="">Staff Augmentation</a>
                <a href="">E- Learning</a>
            </div>
            <div class="col-12 col-md-2 footer-links">
                <h5>Technology</h5>
                <a href="">Cloud Computing</a>
                <a href="">Salesforce CRM</a>
                <a href="">Mobile Applications</a>
                <a href="">Oracle</a>
                <a href="">SAP</a>
                <a href="">Business Intelligence Solutions</a>
                <a href="">Data and Content Management</a>
            </div>
            <div class="col-12 col-md-2 footer-links">
                <h5>Industries</h5>
                <a href="">Manufacturing</a>
                <a href="">Life Sciences</a>
                <a href="">Financial Services</a>
                <a href="">Government</a>
                <a href="">Health Care</a>
                <a href="">Energy</a>
                <a href="">Retail</a>
            </div>
            <div class="col-12 col-md-2  footer-icons ">
                <h5 >Contact us</h5>
                <img src="../../assets/images/mail.png" alt=""> <span>Info@ivanteq.com</span> <br>
                <img src="../../assets/images/phone.png" alt=""><span>+1 513-801-9099</span>
                <h5 class="pt-4">Follow us</h5>
                <a href=""> <img src="../../assets/images/Facebook.png" alt=""> </a>
                <a href=""> <img src="../../assets/images/Instagram.png" alt=""> </a>
                <a href=""> <img src="../../assets/images/Twitter.png" alt=""> </a>
                <a href=""> <img src="../../assets/images/linkedin.png" alt=""> </a>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-bar">
        <p class="text-center text-warning">© Copyright 2012, IVANTEQ</p>
    </div>
</div>

