<div class="container-fluid home-content">
    <div class="row">
        <div class="col-md-3 left-content">
            <div class="row Outsourcing-bg">
                <div class="bg"></div>
                <div class="col ">
                    <h5><span class="side-show-line"></span> Outsourcing</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy.</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
            <div class="row solutions-bg">
                <div class="bg"></div>
                <div class="col sol-col">
                    <h5> <span class="side-show-line"></span> Solutions</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy.</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
            <div class="row tech-bg">
                <div class="bg"></div>
                <div class="col">
                    <h5> <span class="side-show-line"></span> Technologies</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy.</p>
                    <button class="btn btn-primary">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-9 home-banner">
            <div class="menubar">
                <!-- <app-navigation></app-navigation> -->
                <div class="home-text">
                    <div class="row text-center">
                        <div class="col-6   m-auto text-slider-width">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"
                                data-bs-interval="2000">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="home-title">
                                            <h1>Technical <span> &</span> Professional Excellence</h1>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem I
                                                psum has been the industry's standard dummy text ever since the 1500s,
                                                when an unknown
                                                printer took a galley of type and scrambled it to make a type specimen
                                                book.</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="home-title">
                                            <h1>Technical <span> &</span> Professional Excellence</h1>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem I
                                                psum has been the industry's standard dummy text ever since the 1500s,
                                                when an unknown
                                                printer took a galley of type and scrambled it to make a type specimen
                                                book.</p>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="home-title">
                                            <h1>Technical <span> &</span> Professional Excellence</h1>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem I
                                                psum has been the industry's standard dummy text ever since the 1500s,
                                                when an unknown
                                                printer took a galley of type and scrambled it to make a type specimen
                                                book.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="about-content pb-3">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2 text-center">
                    <h1 class="about-title">Who we are?</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a typ
                        e specimen book. It has survived not only five centuries, but also the leap i
                        nto electronic typesetting.</p>
                    <button class="btn btn-primary btn-sm"> Read More</button>
                </div>
            </div>
        </div>
    </div>
</div>